/* CSS Document */


/* ##################### SERVIÃ‡OS ############################# */

.servicos{
	/*width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;*/
	transition: all 0.4s ease;
	line-height: 120px;
}
.servicos::after {
	content: "";
	flex: 1 1 100%;
	max-width: 24%;
}
.servicos h3 {
	color: #fff;
	text-transform: uppercase;
	font-size: 18px;
	margin-bottom: 0;
	text-align: left;

}
.servicos p {
	font-size: 14px;
	line-height: 16px;
	text-align: left;
	color: #FFFFFF;
	display: none;
	-webkit-transition: opacity 600ms, visibility 600ms;
    transition: opacity 600ms, visibility 600ms;
	opacity: 0;
    visibility: hidden;
}
.servicos p:hover {
	transition: all 0.4s ease;
	display: block;
	visibility: visible;
    opacity: 1;
    animation: fade 1s;
}
.servicos a {
	display: block;
	height: 100%;
}
.servicos a:hover {
	color: #fff;
	text-decoration: #fff;
	height: 100%;
}

.item_servicos{
	/*background-color: #519640;*/
	/*width: 23%;*/
	transition: all 0.4s ease;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	overflow: hidden;
	margin-bottom: 30px;
	height: 120px;
	padding-right: 16px;
}
.item_servicos p{
	display: none;
	-webkit-transition: opacity 600ms, visibility 600ms;
    transition: opacity 600ms, visibility 600ms;
	opacity: 0;
    visibility: hidden;
}
.item_servicos:hover p{
	display: block;
	visibility: visible;
    opacity: 1;
    animation: fade 1s;
}
.item_servicos h3{
	-webkit-transition: visibility 600ms;
    transition: visibility 600ms;
}
.item_servicos:hover h3{
    display: block;
    animation: fade 1s;
}
.item_servicos:hover{
	-webkit-box-shadow: inset 0px -12px 0px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: inset 0px -12px 0px 0px rgba(0,0,0,0.3);
	box-shadow: inset 0px -12px 0px 0px rgba(0,0,0,0.3);
}
.item_servicos img{
	    margin-left: 10px;
}
.item_servicos:hover img{
	    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
}


/* ##################### ICONES SERVIÃ‡OS ############################# */
	.icone{
		width: 70px;
    	height: 70px;
    	margin-top: 26px;
    	margin-left: 6px;
	}
	.item_servicos:hover .icone{
    	background-color: rgba(0, 0, 0, 0.3);
    	border-radius: 50%;
	}
	.icone path{
		fill: #fff !important;
	}
	.icone svg{
		width: 40px;
    	height: 40px;
   		vertical-align: top;
    	margin-left: 16px;
   		margin-top: 15px;
	}




@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}



/* ################################################ Media Queries ########################### */
@media screen and (max-width: 1200px) {
	
.servicos h3{
    font-size: 14px;
    margin-left: 12px;
}
.servicos p{
    margin-left: 12px;
}

	
}

@media screen and (max-width: 992px) {
	
}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 600px) {
.noticia a {
    font-size: 12px;
}

.links_diversos h2 a {
    font-size: 14px;
}

.tabs_perfis {
    margin-top: -430px;
}
.divisor_perfis {
    height: 430px;
}
.link_header {
    width: 100%;
	margin-top: 8px;
}

}

@media screen and (max-width: 480px) {
}

@media screen and (max-width: 380px) {
}
